---
import AppLayout from "@/layout/AppLayout.astro";
import MainLayout from "@/layout/MainLayout.astro";
import { getAllEpisodesBySeason as getAllEpisodes, getMediaDetailsByIMDBID, getSeasons } from "@/lib/getData";
import {extractSlug} from "@/lib/helper";

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect('/404');
}

const id = extractSlug(slug);

let seasons = {} as {season: string, episodeCount: number}[]
let mediaDetails = {} as {id: string, primaryTitle: string, primaryImage: {url: string}, startYear: number, endYear: number, genres: string[]}
let error = { episodes: null, mediaDetails: null, seasons: null };


const [mediaDetailsResult, seasonsResult] = await Promise.allSettled([
    getMediaDetailsByIMDBID(id),
    getSeasons(id),
]);

if (mediaDetailsResult.status === "fulfilled") {
    mediaDetails = mediaDetailsResult.value;
} else {
    error.mediaDetails = mediaDetailsResult.reason.message;
}

if (seasonsResult.status === "fulfilled") {
    seasons = seasonsResult.value;
} else {
    error.seasons = seasonsResult.reason.message;
}

const getEpisodesAllSeasons = (id: string, seasons: { season: string }[]) => {
  return seasons.map((s) => getAllEpisodes(id, s.season));
};

const episodesAllSeasonsResult = seasons?.length
  ? await Promise.allSettled(getEpisodesAllSeasons(id, seasons))
  : [];

const episodes = episodesAllSeasonsResult.map((result) => {
  if (result.status === "fulfilled") {
    return result.value
  } else {
    console.error(result.reason);
    return [];
  }
});

const allEpisodes = episodes
  .flat()
  .filter((ep) => ep?.rating?.aggregateRating != null)
  .map((ep) => ({
    ...ep,
    safeRating: ep?.rating?.aggregateRating ?? 0
  }))
  .sort((a, b) => b.safeRating - a.safeRating);

const episodeMap = new Map(
  allEpisodes.map((ep: any) => [`${ep.season}-${ep.episodeNumber}`, ep])
);

const maxSeason = seasons.length
  ? Math.max(...seasons.map((e) => parseInt(e.season)))
  : 0;
const maxEpisode = allEpisodes.length
  ? Math.max(...allEpisodes.map((e) => e.episodeNumber))
  : 0;

const highestRatingEpisode = allEpisodes[0];
const lowestRatingEpisode = allEpisodes[allEpisodes.length - 1];

const seasonsHeader = Array.from({ length: maxSeason }, (_, i) => i + 1);
const episodeRows = Array.from({ length: maxEpisode }, (_, i) => i + 1);

const getEp = (s: number, e: number):any => episodeMap.get(`${s}-${e}`);

  const getRatingColor = (rating: number | undefined) => {
  if (!rating) return 'bg-zinc-500 text-white';
  if (rating >= 8.5) return 'bg-green-600 text-white';
  if (rating >= 7.5) return 'bg-green-400 text-zinc-900';
  if (rating >= 6.5) return 'bg-yellow-400 text-zinc-900';
  if (rating == null) return 'bg-zinc-500 text-white';
  return 'bg-red-500 text-white';
};

console.log(episodes[3])

---
<AppLayout>
    <title slot="head">{mediaDetails?.primaryTitle} Ratings Map | Alfath Muqoddas MovieApp</title>
    <meta name="description" content={`Rating map for ${mediaDetails?.primaryTitle} ${mediaDetails?.startYear} - ${mediaDetails?.endYear} | Alfath Muqoddas MovieApp`} />

    <!-- opengraph meta tags -->
        <meta property="og:title" content={`${mediaDetails?.primaryTitle} Ratings Map | Alfath Muqoddas MovieApp`} />
        <meta property="og:description" content={`Rating map for ${mediaDetails?.primaryTitle} ${mediaDetails?.startYear} - ${mediaDetails?.endYear} | Alfath Muqoddas MovieApp`} />
        <meta property="og:image" content={mediaDetails?.primaryImage.url} />
        <meta property="og:url" content={Astro.url.href} />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Alfath Muqoddas MovieApp" />
    <MainLayout>
        <!-- <pre>{JSON.stringify(mediaDetails, null, 2)}</pre> -->
        <section class="px-6 md:px-0 py-6 flex flex-col gap-4">
            <h1 class="text-2xl font-black">Episodes Ratings</h1>

            <!-- series info card -->

            {error.mediaDetails ? <div class="text-red-500">Sorry error fetching media tv details, Error: {error.mediaDetails}</div> : (
            <div class="flex gap-4">
                <figure class="w-24 h-auto rounded-lg overflow-hidden">
                    <img src={mediaDetails?.primaryImage.url} alt={`poster-${mediaDetails?.id}`} class="w-full h-full object-cover" />
                </figure>
                <div class="flex flex-col gap-1">
                    <h2 class="text-xl font-bold flex-wrap">{mediaDetails?.primaryTitle}</h2>
                    <p class="text-sm">📅 {mediaDetails?.startYear} - {mediaDetails?.endYear ?? "-"}</p>
                    <p class="text-sm flex-wrap">🎭 {mediaDetails?.genres.join(", ")}</p>
                    
                </div>
            </div>
            )}


            <div class="flex flex-col gap-2">
                <div>
                    <h2>Highest Rated</h2>
                    <p class="text-sm">{highestRatingEpisode.title}, S{highestRatingEpisode.season}E{highestRatingEpisode.episodeNumber}, <span class={`p-1 ${getRatingColor(highestRatingEpisode.safeRating)}`}>{highestRatingEpisode.safeRating}</span></p>
                </div>
                <div>
                    <h2>Lowest Rated</h2>
                    <p class="text-sm">{lowestRatingEpisode.title}, S{lowestRatingEpisode.season}E{lowestRatingEpisode.episodeNumber}, <span class={`p-1 ${getRatingColor(lowestRatingEpisode.safeRating)}`}>{lowestRatingEpisode.safeRating}</span></p>
                </div>
            </div>
            
            <div class={`flex gap-1 max-w-6xl overflow-auto pt-2 md:pt-0`}>
               <div class="flex flex-col gap-1">
                    <p class="size-6"></p>
                        {
                            episodeRows.map((e: number) => (
                                <div class={`flex justify-center items-center h-10`}>
                                    <span class="text-sm">E{e}</span>
                                </div>
                            ))
                        }
                </div>
                {
                    seasonsHeader.map((s: number) => (
                        <div class="flex flex-col gap-1">
                            <p class="text-center w-10">S{s}</p>
                            {
                                episodeRows.map((e: number) => {
                                    const ep = getEp(s, e);
                                    const rating = ep?.rating?.aggregateRating;
                                    return (
                                    <a href="#" class={`flex justify-center items-center size-10 ${getRatingColor(rating)}`} title={ep?.title}>
                                        <span class="text-sm">{rating|| "-"}</span>
                                    </a>
                                )})
                            }
                        </div>
                    ))
                }
            </div>

        </section>
    </MainLayout>
</AppLayout>